section.guildAudit {
    .mediaWrapper {
        width: 60px;
        height: 60px;
        position: relative;
        top: -3px;
        left: 0px;
        border-radius: 8px;
        background: #000;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
            width: 130%;
            height: auto;
        }
    }

    .headerContext {
        padding: 80px 40px 0;
    }

    p {
        text-align: left;
        text-transform: capitalize;
    }

    .ctaArea {
        padding: 80px 0;
        text-align: center;
    }

    .auditResponse {
        padding: 40px 0 0px;
        min-height: 1200px;
    }

    .tableHeader {
        white-space: nowrap;
        border-radius: 8px;
        margin-bottom: 6px;
        position: relative;

        display: flex;

        .tablecol {
            flex: 1;
            padding: 18px 22px;
            background: #6b085e;
        }

        p {
            text-align: left;
            font-size: 0.8rem !important;
            font-weight: 800;
            text-shadow: none;
        }
    }

    .tablecol {
        display: inline-block;
        vertical-align: top;
        
        p {
            padding: 0;
            font-size: 0.8rem;
        }

        .mediaWrapper {
            width: 60px;
            height: 60px;
            position: relative;
            top: -3px;
            left: 0px;
            border-radius: 50%;
            background: #000;
            overflow: hidden;

            img {
                object-fit: cover;
                object-position: center;
                width: 130%;
                height: auto;
            }
        }

        &.ilvl {
            min-width: 60px;
            flex: 0 !important;
            font-weight: 500;
        }

        &.score {
            min-width: 160px;
            flex: 0 !important;
            font-weight: 500;
        }

        &.nameInfo {
            min-width: 360px;
            p {
                font-size: 1rem;
            }

            .spec {
                font-size: 0.8rem;
                padding-top: 2px;
            }
        }

        &.enchants,
        &.tier {
            min-width: 200px;
        }
        &.locked {
            min-width: 240px;
        }

        &.updateDate {
            min-width: 260px;
        }

        &.guildRank {
            min-width: 180px;
            flex: 0 !important;
        }

        @media screen and (max-width: 1800px) {
            &.small {
                min-width: 140px;
            }
    
            &.medium {
                min-width: 300px;
            }
    
            &.large {
                min-width: calc(100% - 700px);
            }
        }

        > div {
            display: inline-block;
            padding-right: 12px;
        }

        
    }

    @media screen and (max-width: 1500px) {
        .updateDate {display: none !important;}
    }

    .item {
        width: 100%;
        display: block;
        padding: 6px 0;
        text-transform: capitalize;

        > div {
            border-radius: 8px;
            position: relative;
            display: flex;

            .tablecol {
                padding: 12px 22px;
                height: 80px;
                
                flex: 1;
                background: rgba(0,0,0,0.7);
            }

            p {
                text-align: left;
                line-height: 50px;
            }

            .name {
                color: #8dd52b;
                font-weight: 800;
            }

            .classandspec {
                font-size: 0.8rem;
                opacity: 0.7;
            }

            .itemLevel {
                width: 60px;
                line-height: 50px;
                text-align: center;
                position: absolute;
                top: 10px;
                left: 12px;

                p {
                    padding: 16px 0 0 0;
                    margin: 0;
                    font-size: 0.8rem;
                    font-weight: 800;
                    text-align: center;
                }
            }
        }
    }

    .contentBlock {
        padding-bottom: 40px;
    }
    @media screen and (max-width: 1200px) {
        .discordWrapperheader,
        .followUsWrapperHeader {
            display: none;
        }
    }

    @media screen and (max-width: 700px) {
        .primaryTitle span div {
            display: none;
        }

        .headerContext {
            padding: 190px 0 0 0;
        }
    }

    .searchField {
        padding: 20px 0 0 50px;
        position: relative;

        .searchIcon,
        .filterIcon {
            position: absolute;
            top: 36px;
            left: 68px;
        }

        .filterIcon {
            left: 0;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .headerBar {
        padding-top: 32px;
        > div > div {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }

    .sliderElement {
        display: block;
    }

    .logoHeaderVariant {
        position: relative;
        left: 50px;
        top: -10px;
        margin-left: 0;

        img {
            position: absolute;
            top: 0px;
            left: 0;
            width: 130px;
            height: auto;
        }
    }

    .search {
        outline: 0;
        border: 0;
        padding: 20px 22px 20px 60px;
        border-radius: 8px;
        background: #100b09;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
        display: block;
        margin: 0 auto;
        font-size: 15px;
        color: #fff;
        width: 100%;

        &::placeholder {
            color: #ffffffa5;
        }
    }

    .subBlock {
        display: block;
        padding-bottom: 30px;
        &:last-child {
            padding-bottom: 0px;
        }
    }

    .MuiPickersLayout-actionBar,
    .MuiPickersToolbar-root,
    .MuiDayCalendar-header {
        display:none;
    }

    .MuiDateCalendar-root {
        height: auto;
        max-height: auto;
    }

    .MuiPickersLayout-root {
        background: none;
        margin-left: -20px;
    }

    .paginationReadMore {
        max-width: 300px;
        padding: 12px 22px;
        border-radius: 8px;
        margin: 40px auto 0;
        background-color: #060d12;
        cursor: pointer;
        p {
            font-size: 0.8rem;
        }
        font-weight: 800;

        &:hover {
            background-color: rgba(0,0,0,0.8);
        }
    }

    .filterClassBar {
        padding: 40px 0 0px;
        span {
            margin-right: 12px;
            margin-bottom: 12px;
            font-weight: 800;

            &.MuiSlider-valueLabel {
                margin: 0;
                background: #000;

                span {
                    margin: 0;
                }
            }
        }

        .MuiSlider-thumbColorPrimary, .MuiSlider-track {
            color: #8dd52b;
        }

        .MuiSlider-mark {
            color: #fff;
        }

        .MuiSlider-rail {
            color: #fff;
        }

        .raid {
            color: rgba(255,255,255,0.4);

            &.active {
                color: #8dd52b;
            }

            span {
                cursor: pointer;
            }

            .MuiSwitch-root {
                position: relative;
                top: 4px;
                left: 0;
            }
        }

        .titleElement {
            font-size: 0.9rem;
            margin-right: 22px;
            display: block;
            text-transform: uppercase;
            padding-bottom: 8px;

            span {
                padding: 6px;
                border-radius: 3px;
                background: rgba(0,0,0,0.6);
                font-size: 0.8rem;
                color: #8dd52b;
            }
        }

        .classElement {
            display: inline-block;
            width: 200px;
            background: rgba(0,0,0,0.8);
            color: #fff;
            padding:12px 24px;
            border-radius: 8px;
            font-size: 0.9rem;
            opacity: 0.8;

            @media screen and (max-width: 700px) {
                width: 100%;
            }

            &:hover {
                cursor: pointer;
                background: rgba(0,0,0,1);
                opacity: 1;
            }

            &.active {
                color:#000 !important;
                background: #8dd52b;
                opacity: 1;

                span {
                    color: #000;
                }
            }

            span {
                color: #fff;
                position: relative;
                top: 0px;
                right: -8px;
            }
        }
    }

    
.logoHolder {
    a {
        display: inline-block;
        border-radius: 8px;
        width: 100px;
        height: 100px;
        img {
            width: 100%;
            height: auto;
        }
        box-shadow: 0px 0px 40px #181c37;
        background: #181c37;
        margin-bottom: 32px;
    }
}

.logoSmall {
    width: 250px;

    img {
        width: 100%;
        height: auto;
    }
}

}
