a {
    outline: 0;
    border: 0;

    &.secondary {
        color: #B0C4DE;

        &:hover {
            color: #FFD700;
            text-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
        }
    }

    &.primary {
        width: 341px;
        height: 60px;
        display: inline-block;
        margin: 0 auto;
        color: #fff;
        font-family: "Telex", sans-serif;
        letter-spacing: 0.02em;
        font-size: 1.1rem;
        font-weight: 600;
    
        background-image: url('/images/button-bg.png');
        background-position: center;
        background-repeat: no-repeat;
    
        &:hover {
            color: #FFD700;
        }
    
        span {
            height: 60px;
            line-height: 60px;
            text-align: center;
            display: block;
        }
    }
}