.discordWrapper {
    cursor: pointer;
    span {
        position: relative;
        top: -12px;
        left: 10px;
    }
}

.discordWrapperheader {
    position: absolute;
    top: 60px;
    left: 0;
}