.logoHeaderVariant {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -300px;
    cursor: pointer;

    &.auditVariant {
        left: 0;
        margin-left: 0;
    }

    @media screen and (max-width: 700px) {
        top: 60px;
     }
}

.recruitmentLogo {
    .logoHeaderVariant {
        top: 20px;
    }
}